
#hero {

    border-radius: 30px;
    margin-bottom: 30px;
}

#incomeInputSection {

    margin-left: 64px;
}

#locationInputSection {
    
    margin-left: 64px;
}

#propertyList {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 25px auto;
    background: gray;
    border-radius: 5px;
}