
#hero {

    border-radius: 30px;
    margin-bottom: 30px;
}

#incomeInputSection {

    margin-left: 64px;
}

#locationInputSection {
    
    margin-left: 64px;
}

#property-list {
    list-style-type: none;
}

#property-list li {

    font-weight: bolder;
    border: solid white 1px;
    text-align: left;
    padding: 5px;
    text-decoration: none;

}